<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% placeholder seo %}
    {% placeholder og %}
    {% partial 'styles' %}
</head>