<div id="modal" class="modal">
    <div class="modal__close arcticmodal-close"></div>
    <div class="modal__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere culpa neque asperiores commodi, illo, officiis fuga perferendis dolore repellendus sapiente ipsum sit vitae dolor accusantium possimus architecto debitis temporibus.
    </div>
</div>