<!-- <div class="container"> -->
<!-- <div class="row"> -->
<footer class="footer">
  <!-- <div class="col drawer__end"></div> -->
  <div class="form__wrap">
    <form class="footer__form">
      <div class="form-section">
        <div class="form-section__title H3B23">подпишитесь на рассылку</div>
        <div class="form-group">
          <label class="form-group__label form-group__label--required form-group__label-mod">
            <input type="email" name="org[email]" class="form-group__input" required="" placeholder="эл.почта">
          </label>
        </div>
      </div>
      <div class="form-section">
        <label class="form-group__label form-group__label--checkbox form-group__label--required DM11">
          <span class="form__checkbox">Согласен на
            <a href="/polzovatelskoe-soglashenie" target="_blank">
              обработку персональных<br /> данных</a>
          </span>
          <input type="checkbox" name="agree" class="form-group__input" required>
        </label>
        <label class="form-group__label form-group__label--button">
          <button class="form__btn DB15" type="submit">подписаться</button>
        </label>
      </div>
    </form>
    <div class="footer__image">
      <img src="themes/new/assets/img/svg/footer_img.svg">
    </div>
  </div>
  <div class="footer__body">
    <div class="footer__socials">
      <div class="footer__social">
        <a href="#" class="footer__link-vk"></a>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__link-instagram"></a>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__link-facebook"></a>
      </div>
    </div>
    <div class="footer__developer">
      <p class="footer__developer-text DM11">Сделано в <a href="#">Grom IT</a></p>
      <img class="footer__developer-logo" src="themes/new/assets/img/svg/thunder.svg" alt="thunder" />
    </div>
  </div>
</footer>
</div>
</div>
</div>