<div class="container">
  <div class="row">
    <div class="col drawer__wrap">
      <div class="drawer">
        <a href="#" class="drawer__logo"></a>
        <a href="#" class="drawer__burger"></a>
        <div class="drawer__group">
          <a href="#" class="drawer__map"></a>
          <a href="#" class="drawer__howtoget"></a>
          <a href="#" class="drawer__search"></a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <header class="header">
        <div><a href="#" class="header__logo"></a></div>
        <div class="header__text">
          <div class="header__adress DB15">Аминьевское шоссе, вл.15</div>
          <img class="header__clock" src="{{'assets/img/svg/clock.svg'|theme}}">
          <a href="#" class="header__link DB15">10:00
            <span class="header__time"></span>
            <span class="header__time_dark"></span>
            22:00
          </a>
        </div>
      </header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea nisi quae sequi harum, quia earum
        perspiciatis ipsum incidunt commodi, eum similique, ab adipisci. Minima, magnam. Architecto iure repudiandae
        repellendus magni quis mollitia culpa provident. Alias at assumenda tenetur expedita natus ipsam animi. Neque
        deleniti harum quidem vel. Harum quidem suscipit temporibus quis facilis, error vero. Dolores nesciunt,
        placeat exercitationem veritatis, deleniti, earum saepe quasi aspernatur officiis voluptates labore libero
        fugiat accusantium voluptate esse tempore! Eos velit, suscipit voluptatibus consequatur quia, debitis, amet
        consequuntur esse incidunt et magnam expedita rerum quis harum ullam sit assumenda deleniti. Alias culpa
        provident quo sequi, perferendis tenetur quisquam debitis, nesciunt, vitae magni natus corporis! Id delectus
        laudantium pariatur ad numquam eum excepturi perferendis, repudiandae, assumenda saepe ipsam. Alias tempora
        voluptatibus totam atque nisi quisquam laborum cupiditate repellendus inventore? Voluptates impedit quos
        ratione vero consequatur suscipit iusto. Magni hic corrupti officiis, quas, eum ab quam, doloribus molestiae
        doloremque aperiam ullam beatae voluptatem provident reprehenderit. Nihil explicabo sit suscipit numquam vitae
        maxime ipsa fuga magni provident maiores! Tempora laboriosam accusamus delectus incidunt quia consectetur
        repellendus aliquid qui necessitatibus! At, ratione maiores eos nulla vitae totam ex explicabo laudantium
        dolorem. Sunt fugiat unde placeat eaque iusto nobis totam, aliquid consequatur animi inventore quibusdam,
        alias dolorem aut adipisci architecto exercitationem maiores porro quae facilis aspernatur. Ut, cumque
        blanditiis esse quas iste dolore perferendis similique pariatur commodi consectetur temporibus fugit beatae
        nobis accusamus, repudiandae, consequatur ratione harum magni unde! Dolorum deserunt ea quisquam dicta
        corrupti, provident animi maxime consequuntur. Reiciendis id corrupti, veritatis, repellat blanditiis
        consequatur nemo inventore assumenda, ab aperiam suscipit commodi animi sit? Cupiditate delectus debitis
        vitae? Hic illum aspernatur quia dolore assumenda esse doloribus placeat. Nobis cum aperiam perspiciatis
        temporibus veniam amet, consequatur suscipit id numquam distinctio voluptatem repellat quas aspernatur
        dolorum, soluta ea quam dolore deserunt neque illum. Quod rerum vitae ipsam officia minima magnam nisi optio,
        delectus, dignissimos non culpa ipsum doloremque recusandae voluptatem voluptatibus perferendis. Dolore
        dolorum pariatur explicabo tempore corporis animi dicta, distinctio nemo in quas, ipsum eos officiis accusamus
        temporibus soluta error tempora, porro fugiat? Recusandae dolorum suscipit expedita quod delectus neque
        exercitationem placeat soluta temporibus a voluptates illum, ut deleniti iste tenetur minima consequatur quo
        ipsam id dignissimos maxime accusamus eligendi vero? Voluptatibus, id saepe. Quisquam consequuntur officia,
        quos eveniet blanditiis amet, ipsam porro deserunt quas, suscipit saepe mollitia in! Corrupti amet magni fugit
        commodi consectetur aliquam ipsum unde dolorem sed delectus. Nostrum minima perspiciatis dolores qui dolorum
        praesentium excepturi, culpa ducimus perferendis distinctio reiciendis quia quidem magnam maiores incidunt.
        Est magni dolores architecto dicta itaque nemo aut veritatis deleniti dignissimos quaerat commodi placeat,
        doloribus sunt sit consequatur blanditiis voluptates culpa cupiditate maxime totam? Doloribus, in facere
        voluptatem non laboriosam tempore aliquid ullam iusto, possimus hic, deleniti tempora porro laborum rerum quas
        amet? Optio quae provident asperiores veritatis iure. Tempore reiciendis deleniti inventore quia quas
        veritatis quod eligendi non quis unde, ad, labore incidunt. Incidunt ducimus est alias aperiam veritatis earum
        voluptatem, delectus nobis natus? Eius labore harum veritatis, nihil, repellat, inventore atque illo officiis
        temporibus eos eum! Aperiam perferendis, amet necessitatibus sit voluptas asperiores porro maxime consequuntur
        eaque quisquam similique accusamus quaerat fugit ducimus iste blanditiis, sunt cupiditate soluta et? Autem,
        vitae. Ex, tempore et consequuntur pariatur ea iure totam vitae iste deserunt sapiente sunt eius cum illum est
        eligendi ullam unde quo hic laudantium expedita repellat alias doloremque quidem perspiciatis. Dolorem atque
        asperiores sed, quod iusto fugit vero illum. Autem, fugit itaque officia nostrum atque recusandae velit
        consequuntur est cupiditate porro culpa at quo. Ducimus laboriosam error rem ratione eum facilis, enim ad
        explicabo magni necessitatibus vel omnis quasi laudantium tempora a. Nobis sit non odio maiores officia porro
        earum. Beatae fugit nobis sequi nesciunt deserunt iure nemo magni provident maiores earum, numquam libero eum,
        ut vitae. Neque libero eveniet distinctio cum. Consequatur, quas necessitatibus. Esse corporis quo, quam ipsam
        quod minima labore explicabo ut consectetur. Dolorem dicta atque sit earum quam fugiat voluptatibus, iste
        quaerat non expedita consectetur minima doloremque natus commodi? Ea, pariatur nisi! Dolore nesciunt saepe
        ratione quod possimus aliquam error aspernatur architecto eum. Voluptate recusandae consequuntur inventore
        dolores blanditiis facilis harum repudiandae voluptatem omnis delectus minus ab accusantium praesentium
        similique veritatis dicta, consequatur sunt autem corporis corrupti eveniet quae dignissimos in eius. Esse,
        facilis obcaecati ad iste numquam recusandae eveniet minus reprehenderit deserunt totam eius dolor, dolorum
        consequatur et aspernatur minima quae, consectetur natus. Suscipit possimus saepe eum, explicabo doloribus,
        molestiae voluptatem in fuga, ad omnis dolorem pariatur quia officia ipsam corrupti ea recusandae
        necessitatibus tempora! Excepturi asperiores quidem, neque modi, culpa perferendis eum repellat, consectetur
        esse omnis recusandae reprehenderit distinctio vero vel ut autem sit fugiat possimus illo harum eveniet nobis
        hic. Doloribus provident dignissimos ducimus ut deleniti officiis, nam nihil corrupti. Quis hic quo nostrum
        natus non odit fugiat blanditiis dignissimos nihil sed facilis asperiores, repellendus delectus porro est
        nisi. Expedita quam explicabo distinctio voluptatum sapiente, earum magni ad temporibus recusandae inventore,
        laudantium minima, autem tempora eum provident repellendus eveniet. Laboriosam fugiat amet iste quam
        consequatur! Iure dolores quibusdam vitae, libero aliquam dolor doloremque obcaecati perferendis nobis officia
        dolore sequi laudantium mollitia! Sequi quibusdam eius ut, non veniam aliquid reiciendis dolores quo ipsa id
        minima dicta commodi, blanditiis harum. Laudantium, rerum veritatis! Nulla pariatur magnam aliquam, dicta
        harum adipisci rerum maiores natus placeat a? Impedit distinctio voluptates fugiat perferendis quo itaque nam
        voluptate magnam accusantium, temporibus perspiciatis cumque quis in! Libero, error iusto quas provident
        laboriosam velit quidem necessitatibus molestiae voluptas repellat unde dicta officia eveniet quis
        reprehenderit perspiciatis sint odit tempore impedit doloremque enim. Quasi, tempora a laboriosam doloremque
        maiores delectus eaque, voluptatem fuga corporis adipisci ut culpa, in ipsum ipsa? Ratione, impedit similique
        blanditiis praesentium, officiis quisquam obcaecati nulla sunt velit iure accusamus nemo esse a repellat, qui
        laudantium quis suscipit culpa iusto minima. Blanditiis, voluptatem error fuga optio sequi repudiandae! Dolore
        tempora atque perferendis non, dolorem beatae impedit error ad vitae illo harum sapiente unde? Perferendis
        error sint, voluptas ratione optio rerum expedita ipsum exercitationem, impedit consequatur maiores nemo!
        Recusandae veritatis perferendis placeat autem neque culpa aperiam est quia. Ad rem, quo libero laboriosam
        officia, aliquid non consectetur voluptatum explicabo mollitia eligendi, officiis perferendis odit alias fugit
        ullam dolores tenetur quasi adipisci. Deleniti nobis sapiente ad veritatis error eaque distinctio est,
        ratione, illum nemo fugit, odio cum quidem. Voluptatibus natus minus assumenda illum iusto alias saepe
        obcaecati, doloribus iure culpa. Nobis sit autem, ipsum, exercitationem optio mollitia deleniti nulla, quasi
        ad tenetur non officia ex illum distinctio eligendi eveniet quibusdam? Accusamus aut quia deleniti sed ullam
        excepturi, labore a ipsa explicabo ea ab ipsam beatae rem nobis quibusdam sapiente ipsum ad obcaecati esse
        porro. Aut cupiditate dolore magni sint ullam consequuntur similique provident ducimus vero laudantium
        recusandae eius exercitationem consequatur tempora explicabo, qui praesentium laborum quaerat in odio vel
        consectetur ea delectus porro. Culpa explicabo dicta, nam quos debitis, cum aperiam nemo accusamus voluptate
        et laudantium corporis sunt. Fugit dolorum consequuntur nisi eius non? Repellat perspiciatis vel, error itaque
        mollitia exercitationem eligendi dignissimos consequatur laudantium architecto et temporibus dolore debitis
        iste magni autem ratione harum optio! Voluptates earum commodi incidunt perferendis nobis nisi debitis quas
        magnam, vel doloribus quod, et dignissimos, iste blanditiis exercitationem amet esse? Fugiat mollitia at
        quasi, ratione fugit repudiandae deserunt repellat ea. Et ipsa dignissimos, illo voluptatum amet fuga officiis
        illum magni tempore expedita molestiae rerum iure cumque quos consequatur quod corporis ea ut officia! Eos,
        quasi odit. Facilis earum ducimus corrupti fuga officiis possimus? Vitae dicta adipisci quaerat eos ullam iste
        at dolorum porro minus consequatur quae reprehenderit provident doloremque magni commodi voluptatem nostrum
        sed pariatur harum laboriosam libero, modi aut consectetur. Odio corporis, eos inventore blanditiis minima
        tempora fuga nemo iure in, cumque aperiam quo necessitatibus qui modi! Eveniet praesentium vitae eaque autem
        accusamus minus deserunt laboriosam nemo officia, cum velit, est impedit sed maiores maxime provident optio
        animi, illum totam odit aperiam. Fugit illo quidem expedita exercitationem quam dicta optio repellat, eveniet
        hic dolorum? Sapiente explicabo, delectus officia recusandae consequuntur error corrupti quas iure tempore
        consequatur reprehenderit laborum, commodi dolorum ipsum unde natus? Ipsa maiores et nihil. Vitae ab aut,
        dolore fugit quibusdam ipsum obcaecati dolorum sequi est dolorem. Rem obcaecati nobis delectus modi mollitia
        doloremque culpa reprehenderit molestiae, voluptatem aperiam porro vitae officiis facilis soluta. Numquam
        tenetur optio voluptatibus beatae quia. Voluptate, eaque, tenetur facere delectus aperiam eum temporibus, modi
        beatae a quo eos hic rem praesentium quisquam porro qui corporis blanditiis est debitis! Fuga nemo vitae
        recusandae asperiores minima ipsum sint iure minus exercitationem blanditiis et facilis perferendis in earum,
        quas, rem sapiente! Doloribus dolores reiciendis et natus praesentium explicabo ad sequi ex, consequatur,
        saepe nemo! Est ducimus autem minima, veritatis officiis hic quae laudantium vero eligendi cumque temporibus
        incidunt quidem debitis iusto cupiditate dolor, dolores laboriosam magni nihil! Deleniti fugiat sit modi a non
        quae temporibus quod sint vel vitae placeat velit quam, assumenda voluptas quia ullam sequi, tempora possimus?
        Natus sed est dicta eius repellat quas alias aliquam minima, hic eligendi quia quam ratione quidem saepe totam
        iste libero, et dignissimos eum neque vero consectetur exercitationem voluptate. Veniam dolorum voluptatum rem
        at recusandae officia cumque necessitatibus eveniet architecto labore assumenda porro perferendis, praesentium
        odio ab alias cupiditate quisquam delectus tenetur? Praesentium aliquam obcaecati necessitatibus velit!
        Laboriosam eaque eius, architecto quis nihil ipsam! Aliquid quos dolorum quia, eveniet vel adipisci ex
        delectus corporis laudantium nostrum perspiciatis quas nam minima, veniam voluptate deleniti culpa modi! Culpa
        molestiae sequi aspernatur doloribus facilis voluptatibus aliquam asperiores quisquam nisi consequuntur veniam
        error, voluptate inventore officiis magni eos? Dolorum odit, velit pariatur sequi ducimus quidem alias quos
        dolore nesciunt cupiditate possimus corrupti quo blanditiis sunt sed perferendis incidunt magnam quas dicta
        repellat et commodi deleniti quis. Aut sequi suscipit pariatur voluptate exercitationem perferendis ut atque
        odit blanditiis nam rem voluptas asperiores architecto, illo necessitatibus? Illum veniam facere, vero
        mollitia nesciunt sunt fugit eaque necessitatibus accusantium qui explicabo enim incidunt quidem asperiores
        corrupti blanditiis harum dolores laudantium amet quisquam minus at neque. Fuga blanditiis perferendis
        incidunt vero cum iusto sapiente nam laboriosam dolorum nisi. Voluptatem adipisci dolores illo quasi illum.
        Molestiae debitis, vel a facilis cupiditate sequi aspernatur quos. Repellat optio perspiciatis in voluptate
        quos quibusdam accusamus enim facilis quia, minus tempora cumque officia iusto magnam exercitationem sequi
        atque! Facilis repellat veritatis, nesciunt quas saepe magni qui ratione inventore tempora et, iure fugit amet
        commodi velit architecto. Accusantium dolorum commodi quo fugiat deserunt alias fugit, excepturi beatae sint
        explicabo iusto sequi? Laudantium nisi porro quae, quas, cumque commodi qui saepe rem in odit, reiciendis
        incidunt. Iste debitis nihil blanditiis, ipsam molestiae officia voluptatibus dicta cumque quisquam? Excepturi
        nam possimus error nemo saepe amet, illum quos modi quod vitae temporibus perspiciatis aliquid, reiciendis
        deserunt odio eum cum reprehenderit. Cumque saepe hic eos, dicta fugit, placeat vel inventore magni at ipsa
        reiciendis dolorem libero repellat perferendis accusamus, sequi dignissimos totam quasi voluptates veritatis
        ex iste beatae asperiores quo. Blanditiis sint impedit minima molestiae error libero dignissimos numquam quas
        natus consequuntur obcaecati aut ipsam neque aliquid iusto earum consectetur sequi atque, provident enim
        possimus quam illum? Tempora vero a odit pariatur mollitia facere nulla, reiciendis iure consequatur, officia
        omnis nisi facilis itaque odio nihil vel corrupti, necessitatibus aperiam! Facilis officiis animi pariatur
        sunt molestiae nulla. Ducimus quidem non ratione laboriosam reprehenderit corrupti, sit est in voluptatum
        neque qui pariatur a minima. Fugiat tempore, magni incidunt hic quo repellendus ipsum animi quas laudantium,
        aliquam reprehenderit dicta possimus quisquam voluptate doloribus. Error provident molestiae delectus? Aliquid
        obcaecati dolorum illum corrupti unde magnam tempore libero officiis corporis ipsum eligendi iure quo ullam
        sequi nobis dolorem eaque accusamus, itaque vitae sint quis iusto eveniet natus. Maxime, quisquam similique
        facilis cum minima hic placeat eligendi saepe soluta numquam nobis facere culpa ipsum beatae. Nostrum fugiat
        porro similique saepe natus esse dolorem, magnam consectetur nemo. Labore minima temporibus rem aliquam dolore
        officia recusandae, blanditiis ut maxime nulla debitis accusamus neque corrupti ab similique quibusdam totam
        illo dolor? Optio natus quidem voluptates voluptate, saepe minima, itaque quos incidunt delectus facilis eum
        reprehenderit ab sequi dolorum!</p>
      <!-- </div> -->
      <!-- </div> -->