@font-face {
  font-family: 'Bebas Neue';
  src        : url('../fonts/bebas/BebasNeueBold.eot');
  src        : local('../fonts/bebas/Neue Bold'), local('BebasNeueBold'),
    url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
    url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style : normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src        : url('../fonts/bebas/BebasNeueLight.eot');
  src        : local('../fonts/bebas/BebasNeueLight'), local('../fonts/bebas/BebasNeueLight'), url('../fonts/bebas/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas/BebasNeueLight.woff') format('woff'),
    url('../fonts/bebas/BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;

}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src        : url('../fonts/museo/MuseoSansCyrl-300.eot');
  src        : local('../fonts/museoMuseoSansCyrl-300'),
    url('../fonts/museo/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/museo/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src        : url('../fonts/museo/MuseoSansCyrl-300Italic.eot');
  src        : local('../fonts/museo/MuseoSansCyrl-300Italic'),
    url('../fonts/museo/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/museo/MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style : italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src        : url('../fonts/museo/MuseoSansCyrl-700.eot');
  src        : local('../fonts/museo/MuseoSansCyrl-700'),
    url('../fonts/museo/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/museo/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style : normal;
}

.H1B61 {
  font-family: 'Bebas Neue';
  font-size  : 61px;
  line-height: 61px;
  font-weight: 700;
}

.H2B41 {
  font-family: 'Bebas Neue';
  font-size  : 41px;
  line-height: 41px;
  font-weight: 700;
}

.H3B23 {
  font-family: 'Bebas Neue';
  font-size  : 23px;
  line-height: 23px;
  font-weight: 700;
}

.H4B19 {
  font-family: 'Bebas Neue';
  font-size  : 19px;
  line-height: 19px;
  font-weight: 700;
}

.DB17 {
  font-family: 'Bebas Neue';
  font-size  : 17px;
  line-height: 17px;
  font-weight: 700;
}

.DB15 {
  font-family: 'Bebas Neue';
  font-size  : 17px;
  line-height: 100%;
  font-weight: 700;
}
.DM11{
  font-family: 'Museo Sans Cyrl';
  font-size: 11px;
  line-height: 11px;
  font-weight: 300;
}