==
<!doctype html>
<html lang="en">
{% partial 'head' %}
<body>
    <div class="scroll-fix">
        {% partial 'block/header' %}
        <div class="scroll-fix__content">
            {% page %}
            {% partial 'block/footer' %}
            {% partial 'modals' %}
            {% partial 'scripts' %}
        </div>
    </div>
</body>
</html>