@import url(../vars);

.footer {
  height         : 402px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : flex-end;
  position       : relative;

}

.form__wrap {
  width            : 48%;
  display          : flex;
  flex-direction   : row;
  justify-content  : space-between;
  align-items      : center;
  background-image : url(../../img/svg/footer_form_bg.svg);
  background-repeat: no-repeat;
  position         : absolute;
  z-index          : 1;
  flex-shrink: 0;
}

.footer__form {
  width          : 259px;
  height         : 242px;
  display        : flex;
  flex-flow      : column;
  justify-content: space-between;
  margin-left    : 41px;
}

.form-section__title {
  text-transform: uppercase;
  color         : #ffffff;
}

.form-group__label-mod {
  border-bottom: 2px solid #ffffff;
  margin-top   : 17px;
}

.form-group__input {
  background  : none;
  color       : #ffffff;
  padding-left: 0;
}

.form-group__label+.form-group__label {
  margin-left: 0;
}

.form-group__input::placeholder {
  font-family   : 'Bebas Neue';
  font-size     : 23px;
  line-height   : 23px;
  font-weight   : 700;
  color         : rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
}

.form-group__label--checkbox {
  display          : flex;
  flex-direction   : column;
  justify-content  : space-between;
  background-image : url(../../img/svg/checkbox.svg);
  background-repeat: no-repeat;
  color            : #ffffff;
}

.form__checkbox {
  display     : block;
  padding-left: 30px;
}

.form-group__checkbox {
  padding-left: 20px;
}

.footer__image {
  height: 100%;
}

.form__btn {
  width         : 139px;
  height        : 65px;
  background    : none;
  text-transform: uppercase;
  color         : #ffffff;
  border        : 1px solid #ffffff;
  cursor        : pointer;
}

.footer__body {
  width           : 69%;
  height          : 100%;
  background-color: #000000;
  position        : absolute;
  right           : 0;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.footer__socials {
  display        : flex;
  height         : 160px;
  flex-direction : column;
  justify-content: space-between;
  margin-left: 260px;
}

.footer__social {
  width           : 40px;
  height          : 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.footer__link-vk {
  width           : 16px;
  height          : 10px;
  background-image: url(../../img/svg/vk.svg);
}

.footer__link-instagram {
  width           : 16px;
  height          : 16px;
  background-image: url(../../img/svg/instagram.svg);
}

.footer__link-facebook {
  width           : 6px;
  height          : 13px;
  background-image: url(../../img/svg/facebook.svg);
}

.footer__developer {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items: center;
}

.footer__developer-text {
  writing-mode: vertical-rl;
  color       : rgba(255, 255, 255, 0.5);
  transform   : rotate(180deg);
}

.footer__developer-logo {
  padding-top: 10px;
}