@import url(../vars);

html,
body {
  background: @base-bg;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper{margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  background-color: #0E8946;
  display         : flex;
  flex-direction  : row;
  justify-content : flex-end;
}
.drawer__wrap{
  position: fixed;
  width: 80px;
  min-height: 100vh;
  background-color: #fff;
  align-self: baseline;
}
.drawer {
  width          : 100%;
  height         : 721px;
  background     : #ffffff;
  display        : flex;
  flex-flow      : column;
  justify-content: space-between;
  align-items    : center;
  align-content  : center;
}

.drawer__group {
  display  : flex;
  flex-flow: column;
}

.drawer__logo {
  display          : block;
  width            : 25px;
  height           : 25px;
  background-image : url(../../img/svg/logosmall.svg);
  background-repeat: no-repeat;
  margin-top       : 30px;
}

.drawer__burger {
  display          : block;
  width            : 25px;
  height           : 12px;
  background-image : url(../../img/svg/burger.svg);
  background-repeat: no-repeat;
}

.drawer__map {
  display          : block;
  width            : 26px;
  height           : 26px;
  background-image : url(../../img/svg/trc_map.svg);
  background-repeat: no-repeat;
  margin-bottom    : 17px;
}

.drawer__howtoget {
  display          : block;
  width            : 26px;
  height           : 26px;
  background-image : url(../../img/svg/howtoget.svg);
  background-repeat: no-repeat;
  margin-bottom    : 17px;
}

.drawer__search {
  display          : block;
  width            : 26px;
  height           : 27px;
  background-image : url(../../img/svg/search.svg);
  background-repeat: no-repeat;
  margin-bottom    : 16px;
}

.header__logo {
  display         : block;
  background-image: url(../../img/svg/logo-white.svg);
  width           : 200px;
  height          : 24.44px;
  margin          : 30px 66px;
}

.header__text {
  display        : flex;
  flex-wrap      : nowrap;
  align-items    : flex-start;
  justify-content: space-between;
  margin-right: 179px;
}

.header__adress {
  padding-top   : 34px;
  text-transform: uppercase;
  color         : #ffffff;
}

.header__clock {
  padding: 33px 10px 0;
}

.header__link {
  display      : flex;
  align-items  : center;
  padding-top  : 33px;
  color        : #ffffff;
  border-bottom: 1px dashed #ffffff;

}

.header__time {
  width           : 9px;
  height          : 2px;
  background-image: url(../../img/svg/h-line.svg);
  margin-left     : 5px;
}

.header__time_dark {
  width           : 11px;
  height          : 2px;
  background-image: url(../../img/svg/h-line-d.svg);
  margin-right    : 5px;
}